.site-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.site-header {
	justify-content: flex-start;
}

.site-header .site-title {
	margin-right: auto;
}

.site-title .site-logo {
	height: 1.5rem; // adjust
	width: auto;
}
