.site-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.site-header {
	display: flex;
	justify-content: flex-start !important;
	text-align: left;
}

.site-header .site-title {
	margin-left: 0 !important;
	margin-right: auto !important;
	order: -1;
}

.site-title .site-logo {
	height: 1.5rem; // adjust
	width: auto;
}
